@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{
            // c# comment
            int add (int opr1, int opr2 )
            {
                return opr1 + opr2;
            }
            string company = "Online Shopping";
            <h1 id="title">@company</h1>
            int result = add(10, 46);
            //<p>@result</p>
        }

       
    </section>

    <div class="row">
        <ol>
 
        </ol>
            
        </div>
    <a href="/Products/ProductIndex">Product</a>
    <a href="/Customer/Index">Customers</a>
            <!--Controller/Action_methos-->
</main>