
@{
    ViewBag.Title = "ClientLogin";
}

<h2>ClientLogin</h2>

<hr />

<table>
    <tr>
        <td>Email</td>
        <td><input type="text" id="txtemail" /></td>
    </tr>

    <tr>
        <td>Password</td>
        <td><input type="password" id="txtpassword" /></td>
    </tr>

    <tr>
        <td></td>
        <td><button id="btnLogin" >Login</button></td>
    </tr>
</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/register.js"></script>


