
@{
    ViewBag.Title = "JQueryDemo";
}

<h2>JQueryDemo</h2>

<hr />

<p id="para">Hello World</p>
<button id="btnShow">Show</button>
<button id="btnHide">Hide</button>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquerydom.js"></script>

