
@{
    ViewBag.Title = "Storage";
}

<h2>Storage</h2>
<div>
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" id="txtemail" name="txtemail" /></td>
        </tr>
        <tr>
            <td>Action</td>
            <td>
                <table>
                    <tr>
                        <td><button id="btnSetData" onclick="onSetData()">Set Data</button></td>
                        <td><button id="btnGetData" onclick="onGetData()" >Get Data</button></td>

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td> <label id="lblresult"></label></td>
        </tr>
    </table>
</div>

<div>
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="txtfirstname" name="txtfirstname" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" id="txtlastname" name="txtlastname" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" id="txtage" name="txtage" /></td>
        </tr>
        <tr>
            <td><button id="btnSetSessionData" onclick="onSetObj()"> SetJson Obj</button></td>
            <td><button id="btnGetSessionData" onclick="onGetObj()"> GetJson Obj</button></td>
        </tr>

    </table>
</div>
<div>
    <table>
        <tr>
            <td> <label id="lblresultfname"></label></td>
        </tr>
        <tr>
            <td> <label id="lblresultlname"></label></td>
        </tr>
        <tr>
            <td> <label id="lblresultage"></label></td>
        </tr>
    </table>
</div>

<script src="~/Scripts/storage.js"></script>

