
@{
    ViewBag.Title = "Index";

}
<h2>Product Index</h2>
<a href="/Products/ProductDetails">Products List</a>
<br />
<a href="/Products/ProductInsert">Products Insert</a>
<br />
<a href="/Products/ProductUpdate">Products Update</a>
<br />
<a href="/Products/ProductDelete">Products Delete</a>
<br />


