
@{
    ViewBag.Title = "Index";

}
<h2>Product Lists</h2>



@foreach (var products in Model)
{
    <h6>@products.Title</h6>
      
    <a href="/products/ProductDetails/@products.ProductId">Details</a>
    <!-- Add to cart 
        cart controller/ add to cart/ id -->
        
}

            

