@{
    ViewBag.Title = "Index Customer";
}
<h2>Customers Index </h2>
<a href="/Customer/CustomerDetails">Customer List</a>
<br />
<a href="/Customer/CustomerInsert">Customer Insert</a>
<br />
<a href="/Customer/CustomerUpdate">Customer Update</a>
<br />
<a href="/Customer/CustomerDelete">Customer Delete</a>
<br />






