
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<hr />

<form>
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="firstname" id="firstname" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="lastname" id="lastname" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" id="email" /></td>
        </tr>
        <tr>
            <td>Contact number</td>
            <td><input type="tel" name="contactnumber" id="contactnumber" /></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input type="text" name="location" id="location" /></td>
        </tr>

        
    </table>
</form>

